*{
    margin: 0;
    padding: 0;
}
body{
    background-color: antiquewhite;
}
.new-Book-Box{
    background-color: aliceblue;
    height: 150px;
    display: flex;
    flex-direction: row;
    justify-content: center;
}
.new-book-button{
    margin-top: 20px;
    height: 100px;
    width: 300px;
    border-radius: 50px;
    font-size: 40px;
    font-family: 'Courier New', Courier, monospace;
    border-color: green;
    background-color: green;
    color: white;
    border: 3px;
    transition: 0.5s;
}
.new-book-button:hover{
    background-color: aquamarine;
    scale: 1.1;
}
.new-book-button:active{
    background-color: green;
}